<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
  <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css/icon.css">
  <% cssArr.forEach(function(css){%>
    <link rel="stylesheet" type="text/css" href="/dist/<%= css %>">
  <% }) %>
  <script src="/dist/js/jquery-1.11.2.js"></script>
  <script src="/dist/js/bootstrap.min.js"></script>
</head>
<body>
